<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<title> Selection page </title>
	</head>
	<body>
	<form method="post" action="/display_meisai">
		<!-- Title input -->
		ページタイトル<input type="text" size=20 name="title">
		<br />

		対象日:
		<!-- Date selection -->
		<select name="begindate">
		{% for date in dates %}
			<option name="<{{ date }}"> {{ date }} </item> 
		{% endfor %}
		</select>
		～
		<select name="enddate">
		{% for date in dates %}
			<option name="<{{ date }}"> {{ date }} </item> 
		{% endfor %}
		</select>

		<!-- Name enumeration -->
		<table border>
			<tbody>
					{% for name in names %}
					<tr>
					<td colspan=4> <input type="radio" name="target" value="{{ name }}" /> {{name}} </td>
				</tr>
					{% endfor %}
					<tr>
					
					<td> 源泉徴収率: </td>
					<td><input type="text" size=3 name="rate" /></td>
					<td> 時給 </td>
					<td> <input type="text" size=3 name="price" />円</td>
				</tr> 
			</tbody>
		</table>

		<!-- password? -->
		<input type="hidden" value="{{ password }}" name="password" />

		<!-- Submission -->
		<input type="submit" value="明細表示" />
	</body>
</html>
